.App {
  text-align: center;
  width: 500px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}
.App-Body {
  background-color: #255;
  padding: 5px;
  color: white;
  width: 250px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  left: -100px;
}

.mainpages {
  margin: 5px;
  color: white;
}

.mr-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: inherit !important;
}
